.version.politicas{color:#0000F5;background-color:#776471;}#page{z-index:1;width:380px;min-height:1958px;background-image:none;border-width:0px;border-color:#000000;background-color:transparent;}#page_position_content{margin-bottom:-1px;width:0.01px;}#pu138{z-index:2;width:0.01px;}#u138{z-index:2;min-height:117px;padding-bottom:18px;}#pbuttonu143{z-index:10;width:0.01px;margin-right:-10000px;margin-top:27px;margin-left:39px;}#buttonu143{z-index:10;width:145px;padding-bottom:8px;position:relative;}#buttonu143:hover{width:145px;min-height:0px;margin:0px;}#u144-4{z-index:11;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu143:hover #u144-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#buttonu147{z-index:20;width:145px;padding-bottom:8px;margin-top:12px;position:relative;}#buttonu147:hover{width:145px;min-height:0px;margin:12px 0px 0px;}#u148-4{z-index:21;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu143.ButtonSelected #u144-4,#buttonu147:hover #u148-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#pbuttonu141{z-index:5;width:0.01px;margin-right:-10000px;margin-top:27px;margin-left:199px;}#buttonu141{z-index:5;width:145px;padding-bottom:8px;position:relative;}#buttonu143.ButtonSelected,#buttonu141:hover{width:145px;min-height:0px;margin:0px;}#buttonu141.ButtonSelected{width:145px;min-height:0px;margin:0px;}#u142-4{z-index:6;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu147.ButtonSelected #u148-4,#buttonu141:hover #u142-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#buttonu145{z-index:15;width:145px;padding-bottom:8px;margin-top:12px;position:relative;}#buttonu147.ButtonSelected,#buttonu145:hover{width:145px;min-height:0px;margin:12px 0px 0px;}#buttonu145.ButtonSelected{width:145px;min-height:0px;margin:12px 0px 0px;}#u146-4{z-index:16;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu141.ButtonSelected #u142-4,#buttonu145:hover #u146-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}
/*.js body{visibility:hidden;}.js body.initialized{visibility:visible;}*/
#u138-bw{z-index:2;min-height:117px;margin-top:486px;}#u5807{z-index:3;width:380px;position:relative;margin-right:-10000px;}#u5817{z-index:91;width:245px;height:58px;position:relative;margin-right:-10000px;margin-top:395px;left:104px;}.ie #u5817{background-color:#FFFFFF;opacity:0.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);}#u1802{z-index:92;min-height:1844.8000000000002px;background-color:#11152A;padding:17px 11px 17.199999999999818px;}#u1806-4{z-index:182;width:358px;min-height:32px;text-shadow:2px 2px 3px rgba(0,0,0,0.5);box-shadow:none;background-color:transparent;line-height:20px;font-size:23px;text-align:center;font-family:Verdana, Tahoma, Geneva, sans-serif;position:relative;}#u1805-89{z-index:93;width:355px;min-height:107px;background-color:transparent;text-align:justify;margin-left:2px;margin-top:10px;position:relative;}#u1806,#u1805-47,#u1805-50,#u1805-58,#u1805-60,#u1805-64,#u1805-68,#u1805-72,#u1805-76{color:#D47E19;}#u1805-2,#u1805-4,#u1805-5,#u1805-7,#u1805-8,#u1805-10,#u1805-11,#u1805-13,#u1805-14,#u1805-16,#u1805-17,#u1805-19,#u1805-20,#u1805-22,#u1805-23,#u1805-25,#u1805-27,#u1805-29,#u1805-31,#u1805-33,#u1805-35,#u1805-37,#u1805-39,#u1805-40,#u1805-42,#u1805-44,#u1805-45,#u1805-48,#u1805-51,#u1805-53,#u1805-55,#u1805-56,#u1805-59,#u1805-62,#u1805-63,#u1805-66,#u1805-67,#u1805-70,#u1805-71,#u1805-74,#u1805-75,#u1805-78,#u1805-79,#u1805-81,#u1805-82,#u1805-84,#u1805-85,#u1805-87{color:#FFFFFF;}#u1802-bw{z-index:92;min-height:1844.8000000000002px;margin-top:-2px;margin-bottom:-2px;}.css_verticalspacer .verticalspacer{height:calc(100vh - 3762px);}#u170{z-index:25;min-height:1218px;padding:26px 12px 21px 11px;}#pbuttonu1777{z-index:76;width:0.01px;margin-left:25px;position:relative;}#buttonu1777{z-index:76;width:145px;padding-bottom:8px;position:relative;margin-right:-10000px;}#buttonu1777:hover{width:145px;min-height:0px;margin:0px -10000px 0px 0px;}#u1778-4{z-index:77;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu145.ButtonSelected #u146-4,#buttonu1777:hover #u1778-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#buttonu1775{z-index:71;width:145px;padding-bottom:8px;position:relative;margin-right:-10000px;left:160px;}#buttonu1777.ButtonSelected,#buttonu1775:hover{width:145px;min-height:0px;margin:0px -10000px 0px 0px;}#u1776-4{z-index:72;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu1777.ButtonSelected #u1778-4,#buttonu1775:hover #u1776-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#pbuttonu1781{z-index:86;width:0.01px;margin-left:25px;margin-top:12px;position:relative;}#buttonu1781{z-index:86;width:145px;padding-bottom:8px;position:relative;margin-right:-10000px;}#buttonu1775.ButtonSelected,#buttonu1781:hover{width:145px;min-height:0px;margin:0px -10000px 0px 0px;}#u1782-4{z-index:87;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu1775.ButtonSelected #u1776-4,#buttonu1781:hover #u1782-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#buttonu1779{z-index:81;width:145px;padding-bottom:8px;position:relative;margin-right:-10000px;left:160px;}#buttonu1781.ButtonSelected,#buttonu1779:hover{width:145px;min-height:0px;margin:0px -10000px 0px 0px;}#buttonu1779.ButtonSelected{width:145px;min-height:0px;margin:0px -10000px 0px 0px;}#u1780-4{z-index:82;width:119px;min-height:23px;position:relative;margin-right:-10000px;margin-top:8px;left:13px;}#buttonu1781.ButtonSelected #u1782-4,#buttonu1779:hover #u1780-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#buttonu1779.ButtonSelected #u1780-4{padding-top:0px;padding-bottom:0px;min-height:23px;width:119px;margin:8px -10000px 0px 0px;}#u179-45{z-index:26;width:357px;min-height:49px;margin-top:23px;position:relative;}#u170-bw{z-index:25;min-height:1218px;margin-top:1px;}#muse_css_mq,.html{background-color:#FFFFFF;}body{position:relative;min-width:380px;}@-ms-viewport{width:380px;}@-webkit-viewport{width:380px;}@-o-viewport{width:380px;}@-moz-viewport{width:380px;}@viewport{width:380px;}






/*para boton arriba y botones de llamar */






.posicion-icono{
    width:110px;
    height:110px;
    position:fixed;
    bottom:170px;
    right:-10px;
	z-index: 999999;
}

#llamada {
	width: 60px;
	height: 60px;
	background-image: url(../imagenes/1.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 35px;
	z-index: 49;
	top: 35px;
}


#circle1 {
    background: rgba(248,5,5,0.25);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
	left: 30px;
    top: 30px;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1);
}
#circle2 {
    background: rgba(248,5,5,0.25);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
	left: 20px;
    top: 20px;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1);
}
#circle3 {
    background: rgba(248,5,5,0.25);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
	left: 10px;
    top: 10px;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.posicion-icono-whatsapp{
    width:110px;
    height:110px;
    position:fixed;
    bottom:225px;
    right:-10px;
	z-index: 999999;
}

#llamada-whatsapp {
	width: 60px;
	height: 60px;
	background-image: url(../imagenes/2.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 35px;
	z-index: 49;
	top: 35px;
}


#circle1-whatsapp {
    background: rgba(70,165,6,0.25);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
	left: 30px;
    top: 30px;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1);
}
#circle2-whatsapp {
    background: rgba(70,165,6,0.25);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
	left: 20px;
    top: 20px;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1);
}
#circle3-whatsapp {
    background: rgba(70,165,6,0.25);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
	left: 10px;
    top: 10px;
    z-index: 49;
    transform: scale(1);
    -webkit-transform: scale(1);
}


.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}










.whatsapp.left {
    text-align: left;
    left: 0;
    float: left;
}
.whatsapp-bottom {
    position: fixed;
    bottom: 0;
    z-index: 999999;

	margin-left:10px;
	margin-bottom:18px;
    width: auto !important;
}
.whatsapp {
    clear: both;
    border-radius: 4px;
    padding: 10px 0;
	border: 1px solid #ffffff;
	box-shadow: 2px 2px 7px #000;
}

.whatsapp span {
    border-radius: 4px;
    background: #006700;
        background-color: rgb(37, 211, 102);
    color: #fff;
    font-size: 15px;
    padding: 0px 10px;
    display: inline-block;
    outline: none;
	font-family:Verdana;
	text-shadow: 2px 2px 2px #000;
	
}

.whatsapp-icon {
    position: relative;
    background-image: url('../imagenes/whatsapp.png');
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-right: 4px;
    top: -1px;
    vertical-align: middle;
}



